{% extends "baseFront.html.twig" %}
{% block hero %}
{{ form_start(myForm,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_start(myForm) }}
    {{ form_widget(myForm) }}
    {{ form_end(myForm) }}


{#

    <div class="form-group">
        {{ form_label(form.commentaire) }}
        {{ form_widget(form.commentaire, {'attr': {'class': 'form-control', 'placeholder': 'Votre commentaire'}}) }}
        {% if form_errors(form.commentaire) %}
            <span class="has-error">{{ form_errors(form.commentaire) }}</span>
        {% elseif form.vars.submitted and form.contenu.vars.value is empty %}
            <span class="has-error">Champ obligatoire</span>
        {% endif %}
    </div>
#}
{% endblock %}
