{% extends "baseBack.html.twig" %}
{% block body %}

{% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger">
        {{ app.session.flashbag.get('error')[0] }}
    </div>
{% endif %}

{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% if listes is not empty and id is defined %}

<table border="1">
<thead>
   <tr>
    <th>Id</th>
    <th>commentaire</th>
    <th>idUtilisateur</th>
    <th>date</th>
    <th>type</th>
    <th>idproduit</th>
   </tr>
</thead>
  {% for l in listes %}
  <tr>
      <td>{{ l.Id }}</td>
      <td>{{ l.commentaire }}</td>
      <td>{{ l.idUtilisateur }}</td>     
      <td>{{ l.date | date('d-m-Y') }}</td>
      <td>{{ l.typeCommentaire.libelle  }}</td>
      <td>{{ l.idproduit }}</td>
</tr>
  {% endfor %}
{% if nbr != 0 %}
      le nombre de commantaire faite par l'utilisateur d'id {{id}} est {{nbr}} et il a éte signaler {{nbr1}} fois
{% endif %}

{% if nbr2 != 0 %}
    Le nombre de commentaires faits pour l'article d'ID {{id}} est {{nbr2}} et il a été signalé {{nbr3}} fois.
{% endif %}

</table>
{% endif %}


{% endblock %}
