{% extends "baseFront.html.twig" %}
{% block hero %}

{% if app.session.flashbag.has('success') %}
    <div class="alert alert-success">
        {{ app.session.flashbag.get('success')[0] }}
    </div>
{% endif %}

{% if app.session.flashbag.has('error') %}
    <div class="alert alert-danger">
        {{ app.session.flashbag.get('error')[0] }}
    </div>
{% endif %}
<link rel="stylesheet" href="{{asset('style.css')}}" type="text/css">


<table border="1">
<thead>
<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
   <tr>
    <th>commentaire</th>
    <th>date</th>
    <th> Action</th>
   </tr>
</thead>
  {% for l in listes %}
    <tr>
     {# <td>{{ l.Id }}</td> #}
      <td>{{ l.commentaire }}</td>
      {#<td>{{ l.idUtilisateur }}</td>   #}  
      <td>{{ l.date | date('d-m-Y') }}</td>
      {#<td>{{ l.typeCommentaire.libelle }}</td>  #}
     {# <td>{{ l.idproduit }}</td>#}
      <td> <button type="button" class="btn btn-outline-danger"><a href= {{ path('app_del1_classroom',{'id':l.Id} )}}> Supprimer</button>
      <button type="button" class="btn btn-outline-dark"><a href= {{ path('app_modif_Commentaire',{'id':l.Id} )}}> Modifier</button> 
       <a href= {{ path('app_add_signal',{'id':l.id} )}}> Signaler </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  <div class="d-flex align-items-center justify-content-center">
  <button type="button" class="btn btn-outline-success"><a href= {{ path('app_add_Commentaire')}}> Ajouter</button>
</div>

{% endblock %}
