{% extends "baseFront.html.twig" %}
{% block hero %}

<h1> Liste des commantaire</h1>
<table border="1">
<thead>
   <tr>
    <th>Id</th>
    <th>commentaire</th>
    <th>idUtilisateur</th>
    <th>date</th>
    <th>type</th>
    <th>idproduit</th>
   </tr>
</thead>
  <tr>
      <td>{{ comment.Id }}</td>
      <td>{{ comment.commentaire }}</td>
      <td>{{ comment.idUtilisateur }}</td>     
      <td>{{ comment.date | date('d-m-Y') }}</td>
      <td>{{ comment.type }}</td>
      <td>{{ comment.idproduit }}</td>
    </tr>
  </table>

  {% endblock %}